<div class="form mt-2 flex flex-col gap-2">
  <div>
    <label class="form-label" for="first-name">First name</label>
    <input class="form-input" id="first-name" disabled required/>
  </div>
  <div>
    <label class="form-label" for="last-name">Last name</label>
    <input class="form-input" id="last-name" disabled required/>
  </div>
  <div>
    <label class="form-label" for="email">Email</label>
    <input class="form-input" id="email" disabled required/>
  </div>
  <div>
    <label class="form-label" for="date-of-birth">Date of birth</label>
    <input class="form-input" id="date-of-birth" disabled required/>
  </div>
  <div>
    <label class="form-label" for="department-id">Department</label>
    <input class="form-input" id="department-id" disabled required/>
  </div>
  <div class="ms-auto mt-1 flex gap-3">
    <button class="button button-danger" disabled>Cancel</button>
    <button class="button" type="submit" disabled>Save</button>
  </div>
</div>
